<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="user-scalable=0,width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>基本应用</title>
    <script src="https://cdn.jsdelivr.net/vue/latest/vue.js"></script>
    <style>
        body{font-size: 30px;}
    </style>
</head>

<body>

<div id="app">
    <!-- 绑定一个keyup事件，监听的按钮式enter -->
    <input v-model="newTodo" v-on:keyup.enter="addTodo">
    <ul>
        <li v-for="todo in todos">
            <span>{{todo.text}}</span>
            <!-- 调用removeTodo()传入$index，$index是内置变量保存着当前遍历的索引 -->
            <button v-on:click="removeTodo($index)">X</button>
        </li>
    </ul>
</div>

<script type="text/javascript">
new Vue({
    el:"#app",
    data:{
        newTodo:"",
        todos:[
            {text:'Add some todos'}
        ]
    },
    methods:{
        addTodo:function(){
            var text=this.newTodo.trim();
            if(text){
                this.todos.push({text:text});
                this.newTodo='';
            }
        },
        removeTodo:function(index){
            // 接受到索引，从data数据中删除todos里的这条索引
            this.todos.splice(index,1);
        }
    }
});
</script>
</body>

</html>
